.keycap {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	text-align: center;
	background: linear-gradient(to bottom, #f8f8f8, #e0e0e0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
		inset 0 -2px 2px rgba(255, 255, 255, 0.5);
}

.game-container {
	display: flex;
	justify-content: space-around; /* Add horizontal space between components */
	align-items: center;
}

.gameScore1,
.gameScore2 {
	margin: 0px 100px; /* Adjust the top and bottom margins and horizontal spacing */
	font-size: 20px;
	border:#ffffff 3px solid;
	/* background: #2d3fa6; */
	padding: 10px;
	border-radius: 30px;
	text-align: center;
	color: white;
	/* Add styling for game scores as needed */
}

.gameScore1 > div,
.gameScore2 > div {
  margin-top: 15px; /* Adjust the vertical padding as needed */
}

.OnlineGameScene {
	flex: 2; /* Adjust the flex value based on your layout preferences */
}

.scoreRankingOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999; /* Assurez-vous que la surcouche est au-dessus du reste du contenu */

	/* Animation d'apparition */
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Utilisation d'une transition pour le réglage du délai */
}

.scoreRankingOverlay.active {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease, visibility 0s linear; /* Annulation du délai de visibilité */
}

.scoreRankingModal {
	background-color: white;
	padding: 20px;
	border-radius: 5px;

	/* Animation de disparition */
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Utilisation d'une transition pour le réglage du délai */
}

.scoreRankingModal.active {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease, visibility 0s linear; /* Annulation du délai de visibilité */
}

/* Définition des animations */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(101, 101, 101);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	color: black;
	z-index: 999; /* Ensure the overlay is on top of everything */
}

