#gameScore {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	color: #ffffff;
	font-family: 'Arial', sans-serif;
	font-size: 32px;
	border-radius: 5px;
	z-index: 1000;
}