.user-profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}



.user-email {
    color: #555;
    font-style: italic;
}

.user-bio {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.profile-details {
    margin-top: 20px;
}

.profile-details h2 {
    color: #333;
    margin-bottom: 10px;
}

.friend-action {
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.friend-action button {
    padding: 10px 15px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.friend-action button:hover {
    background-color: #005f73;
}

.loading {
    text-align: center;
    animation: pulse 1s infinite ease-in-out;
}

.profile-score {
    text-align: center;
    margin-top: 20px;
}

.score-display {
    font-size: 24px;
    font-weight: bold;
}

.user-score {
    color: #4CAF50; /* couleur verte pour les victoires de l'utilisateur */
}

.opponent-score {
    color: #F44336; /* couleur rouge pour les victoires de l'adversaire */
}



h1, h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}