*{
	box-sizing: border-box;
}
nav .menu{
	z-index: 2;
}
@media screen AND (max-width: 1200px) {
	.buttonContainer{
		width: 90%;
	}
}

@media screen AND (max-width: 960px) {
	
	.chat-title
	{
		padding-top: 60px;
	}

	.container
	{
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.container>div{
		width: 100%;
		box-sizing: border-box;
	}

	.container>div h2{
		text-align: center;
	}

	.channels li
	{
		display: flex;
		justify-content: center;
	}

	.channels li .channel_name
	{
		margin-right: 15px;

	}

	.write-chat
	{
		box-sizing: border-box;
		padding: 0 10%;
  		min-height: 70vh;
		margin:0 auto;
		order:3;
	}

	.userChannel
	{
		display: flex;
  		justify-content: center;
		
	}

	.container_button
	{
		flex-grow: 0;
	}

	.create-channel-button
	{
		margin-bottom: 50px;
	}

	.input-chat-form
	{
		margin: 0;
		position: static;
	}

	.input-box
	{
		display: flex;
  		justify-content: center;
	}

	.input-chat-form{
		display: flex;
  		justify-content: center;
	}

	.buttonContainer
	{
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 50px;
	}

	.buttonColumn{
		flex-direction: column;
		justify-content: start;
		padding-top: 40px;
	}
}

@media screen AND (max-width: 700px) {
	main.profil-container
	{
		width: 90%;
  		margin-top: 50px;
	}
	.container-2fa .modal-content {
		width: 90%;
	}

	.profil-container .decoBut
	{
		display: flex;
  		justify-content: center;
	}

	.profil-container .editable-text-field
	{
		display: flex;
  		justify-content: center;
	}

	.profil-container .profil-image-container {
		margin-top: 40px;
	  }

	.buttonContainer.lobby
	{
		justify-content: flex-start;
	}

}

@media screen AND (max-width: 570px) {
	.modal-code-2fa .container-code{
		flex-direction: column;
		align-items: center;
	}

	.modal-code-2fa .container-code .submit-btn{
		display: none;
	}

	.modal-code-2fa h2{
		word-break: break-word;
		font-size: 26px;
	}

	.button-card
	{
		margin: 0px;
		margin-bottom: 14px;
	}

	.buttonContainer.lobby{
		margin-top: 218px;
	}
	
}
